body{
  padding-top: 44px;
  margin-right: 0px;
  padding-left: 125px;
  font-family: Arial, Helvetica, sans-serif;
}

.timer{
  position: absolute;
  background-color: black;
  color: white;
  bottom: 20px;
  right: 10px;
  font-size: 12px;
  padding: 4px;
  font-weight: 500;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
}