.header{
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding-top: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(243, 241, 241);
  z-index: 100;
  cursor: pointer;
}

.left-section{
  display: flex;
  width: 200px;
  align-items: center;
  align-items: center;
  height: 45px;
  margin-left: 14px;
}

.middle-section{
  display: flex;
  flex: 1;
  margin-left: 50px;
  margin-right: 35px;
  max-width: 600px;
  border: none;
  border-top: none;
  align-items: center;
  height: 30px;
  align-self: center;
}

.search-bar{
  display: flex;
  flex: 1;
  height: 35px;
  padding-inline-start: 15px;
  border-style: solid;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-color: rgb(232, 232, 233);
  border-right: none;
}

.search-logo-div{
  display: flex;
  align-items: center;
  height: 35px;
  width: 60px;
  border-style: solid;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: rgb(250, 250, 250);
  margin-right: 15px;
  border-color: rgb(243, 241, 241);
  margin-left: none;
  position: relative;
}

.search-logo-div .tooltip,
.voice-search0 .tooltip2{
  position: absolute;
  color: rgb(255, 255, 255);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 14px;
  bottom: -25px;
  left: 10px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}

.search-logo-div:hover .tooltip,
.voice-search0:hover .tooltip2{
  opacity: 1;
  background-color: gray;
  color: white;
  border-radius: 2px;
}

.search-logo{
  margin-left: 15px;
}

.voice-search0{
  display: flex;
  justify-content: center;
  background-color: gray;
  align-items: center;
  position: relative;
  white-space: nowrap;
  position: relative;
}

.voice-search{
position: relative;;
}

.right-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-right: 30px;
  flex-shrink: 0px;
}

.notification-bell{
  position: relative;
}

.notification-count{
  font-size: 11px;
  position: absolute;
  border-radius: 10px;
  background-color: rgb(218, 5, 5);
  color: white;
  top: -2px;
  right: -6px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.hamburger-menu {
  height: 20px;
  width: 25px;
  margin-left: 10px;
}

.youtube-logo{
  height: 20px;
  margin-left: 35px;
  margin-right: 0px;
}

.country-code{
  height: 20px;
  width: 20px;
  align-self: baseline;
  margin-top: 5px;
}